<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <h1>{{ site.name }}</h1>
            </div>

            <div class="col-lg-5">
              {% for line in site.shout %}
                <p>{{ line }}</p>
              {% endfor %}
            </div>
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-lg-8 col-md-8 col-xs-12">
                <ul class="row">
                    <li class="col-lg-3"><a href="{{ '/' | relative_url }}">홈</a></li>
                    <li class="col-lg-3">
                        <ul class="subnav">
                            <a href="javascript:void(0)">포스트</a>
                            <li><a href="{{ '/category' | relative_url }}">카테고리별</a></li>
                            <li><a href="{{ '/tag' | relative_url }}">태그별</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-3"><a href="{{ '/series' | relative_url }}">프로젝트</a></li>
                    <li class="col-lg-3"><a href="{{ '/about' | relative_url }}">블로그장</a></li>
                </ul>
            </nav>

            <div class="search col-lg-4 col-md-4 col-xs-12">
                <form>
                    <label for="search"></label>
                    <input id="search-input" name="serach" type="text" placeholder="게시물 검색...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2FTaegyunWoo%2FTaegyunWoo.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=%EB%B0%A9%EB%AC%B8%EC%9E%90+%EC%88%98&edge_flat=false"/></a>
        </div>
    </div>
</header>