/**
 * ----------------------------------------------------------------------------------------
 * Base Style
 * ----------------------------------------------------------------------------------------
 */

body {
    // background-color: #E0E0E0;
    background-color: rgb(189, 189, 189);
}

ul,ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}